@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.container{
  display: grid;
  grid-template-rows: 50px 1fr;

  height: 100vh;

  font-family: 'Roboto';
}