.btn {
  height: 40px;
  width: 40px;
  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;

  color: #d2d2d2;

  user-select: none;
}
.btn-2023{
  background-image: url('../images/button2023.svg')
}
.btn-2023-active{
  background-image: url('../images/button2023-active.svg')
}
.btn-2024{
  background-image: url('../images/button2024.svg')
}
.btn-2024-active{
  background-image: url('../images/button2024-active.svg')
}
.btn-2025{
  background-image: url('../images/button2025.svg')
}
.btn-2025-active{
  background-image: url('../images/button2025-active.svg')
}
.btn-2026{
  background-image: url('../images/button2026.svg')
}
.btn-2026-active{
  background-image: url('../images/button2026-active.svg')
}