.btn {
  height: 40px;
  width: 40px;
  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;

  color: #d2d2d2;

  user-select: none;
}
.btn-create{
  background-image: url('../images/add_circle_FILL0_wght400_GRAD0_opsz40.svg')
}
.btn-create-active{
  background-image: url('../images/add_circle_FILL1_wght400_GRAD0_opsz40.svg')
}
.btn-search {
  background-image: url('../images/pageview_FILL0_wght400_GRAD0_opsz40.svg')
}
.btn-search-active {
  background-image: url('../images/pageview_FILL1_wght400_GRAD0_opsz40.svg')
}
.btn-info {
  background-image: url('../images/info_FILL0_wght400_GRAD0_opsz40.svg')
}
.btn-info-active {
  background-image: url('../images/info_FILL1_wght400_GRAD0_opsz40.svg')
}
.btn-warnings {
  background-image: url('../images/error_FILL0_wght400_GRAD0_opsz40.svg')
}
.btn-warnings-active {
  background-image: url('../images/error_FILL1_wght400_GRAD0_opsz40.svg')
}