.card {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: repeat(6, 20px);
    font-size: 14px;
    align-items: center;
    justify-items: center;
    width: 150px;
    height: 120px;
    border: 1px solid #d2d2d2;

    -webkit-user-select: none;

    transition: background-color 200ms linear;
}
.card-row {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card-half-row2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2px;
    align-items:center;
}
.card:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.card-active {
    background-color: #c2d5f2;
}


.completed-icon {
    background-image: url("../images/warning.svg");
    width: 20px;
    height: 20px;
}

.expired-icon {
    background-image: url("../images/completed.svg");
    width: 20px;
    height: 20px;
}

.warning-icon {
    background-image: url("../images/expired.svg");
    width: 20px;
    height: 20px;
}

