.menu-left,
.menu-right {
  display: grid;
  justify-items: center;
  align-items:center;
  align-content: center;
  
  grid-gap: 5px;

  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;
}
.menu-left {
  grid-template-rows: repeat(4, 40px);
}
