.modal {
  display: grid;

  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;
}

.modal-create {
  display: grid;
  grid-template-rows: 30px repeat(9, 50px) 60px;
  grid-template-columns: 150px 150px;
  grid-gap: 10px;
  justify-content: center;

  width: 370px;

  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;

  transition: all 200ms linear;
}
.modal-search {
  display: grid;
  grid-template-rows: 30px repeat(14, 50px) 60px;
  grid-template-columns: 150px 150px;
  grid-gap: 10px;
  justify-content: center;

  max-height: calc(100vh - 52px);
  width: 370px;

  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;

  overflow: auto;

  transition: all 200ms linear;
}
.modal-update {
  display: grid;
  grid-template-rows: 30px repeat(14, 50px) 60px;
  grid-template-columns: 150px 150px;
  grid-gap: 10px;
  justify-content: center;

  width: 370px;

  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;

  transition: all 200ms linear;
}

.modal-info {
  display: grid;

  width: 455px;

  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;

  transition: all 200ms linear;
}

.modal-hidden {
  width: 0;
  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;

  opacity: 0;

  transition: all 200ms linear;
}
