.modal-info-text-item-vertical {
    display: grid;
    width: 20px;
    height: 100px;
    font-size: 16px;
    align-items: center;
    justify-items: start;
    // margin-bottom: 5px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}
